{% extends 'portofolio/Landing_Page/Hero_Page.html' %}
{% load static %}

{% block titulo %}
    <title><title>Experiência Profissional</title></title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'portofolio/css/sobre_mim/Experiencias.css' %}">
    <link rel="stylesheet" href="{% static 'portofolio/css/Nav_Footer.css' %}">
{% endblock %}

{% block main %}

    <h1>Experiência Profissional</h1>

    <h2>Experiência Profissional</h2>

    <div class="job">
        <p class="title">Middle Office (8 MOS)</p>
        <p class="description">Manpower TBO - GALP (MR)</p>
        <p class="description">Desempenho diversas funções como Inbound, Outbound, registo de informações no sistema
            informático, realizo tarefas de Back Office (complementares e paralelas).</p>
    </div>

    <div class="job">
        <p class="title">Técnico nível 1 (7 MOS)</p>
        <p class="description">Hanon Systems Portugal</p>
        <p class="description">Especializei-me como operador de máquina e técnico, executava em todas as várias fases e
            linhas de produção, as tarefas inerentes ao fabrico e montagem dos diversos produtos.</p>
    </div>

    <div class="job">
        <p class="title">Gestor de contacto (3 MOS)</p>
        <p class="description">Manpower TBO - NOS</p>
        <p class="description">Desempenhei a função como suporte técnico nos serviços de Tv, Net e Voz (Inbound).</p>
    </div>

    <div class="job">
        <p class="title">Comercializador (3 MOS)</p>
        <p class="description">RDTEL - Vodafone</p>
        <p class="description">Desempenhei a função como vendedor dos serviços de Tv, Net e Voz, realizando tarefas como
            Outbound e D2D.</p>
    </div>

    <div class="job">
        <p class="title">Comercializador (1 MO)</p>
        <p class="description">Optmode - NOS</p>
        <p class="description">Desempenhei a função como vendedor dos serviços de Tv, Net e Voz, realizando tarefas como
            Outbound.</p>
    </div>

    <div class="job">
        <p class="title">Ajudante de pastelaria (10 MOS)</p>
        <p class="description">Kinas Lanche</p>
        <p class="description">Ajudava na preparação e confecção de produtos de pastelaria, empratamento de sobremesas e
            bolos e assim como outras tarefas relacionadas (limpeza do espaço, arrumação dos materiais, entre outras).
        </p>
    </div>
        <div class="job">
            <p class="title">Carreira</p>
            <p class="description">Basta clicar no link abaixo para obter o meu Currículo</p>
            <a class="resume-link" href="file:///C:/Users/Wisley%20Costa/Downloads/Navy%20&%20White%20Modern%20Professional%20Resume.pdf" target="_blank" rel="noopener noreferrer">Baixar
                currículo</a>
        </div>

    </div>
{% endblock %}
