{% extends 'portofolio/Landing_Page/Hero_Page.html' %}
{% load static %}

{% block titulo %}
<title>Meus Interesses e Hobbies</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'portofolio/css/sobre_mim/Interesses.css' %}">
    <link rel="stylesheet" href="{% static 'portofolio/css/Nav_Footer.css' %}">
{% endblock %}

{% block main %}
<h1>Informações de Interesses e Hobbies</h1>

<h2>Interesses</h2>

<div class="interests">
    <p class="title">Programação</p>
    <p class="description">Tenho interesse em aprofundar meus conhecimentos em programação desde o início do curso de Engenharia Informática.</p>
    <p class="date">Desde o início do curso</p>
</div>

<div class="interests">
    <p class="title">Viagens</p>
    <p class="description">Explorar novos lugares, conhecer culturas diferentes e criar memórias inesquecíveis.</p>
    <p class="date">Desde 2008</p>
</div>

<div class="interests">
    <p class="title">Culinária</p>
    <p class="description">Experimentar novas receitas, criar pratos saborosos e compartilhar momentos deliciosos com a
        família e amigos.</p>
    <p class="date">Desde 2015</p>
</div>

<h2>Hobbies</h2>

<div class="interests">
    <p class="title">Entretenimento</p>
    <p class="description">Desfrutar de jogos, filmes e séries como formas de entretenimento e diversão.</p>
    <p class="date">Desde criança</p>
</div>


<div class="interests">
    <p class="title">Prática de Futebol</p>
    <p class="description">Desenvolver habilidades técnicas, táticas e físicas para jogar futebol em equipe.</p>
    <p class="date">Desde o meu primeiro contacto com a bola</p>
</div>

{% endblock %}
