{% extends 'portofolio/Landing_Page/Hero_Page.html' %}
{% load static %}

{% block titulo %}
<title>Escolas</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'portofolio/css/Linguas.css' %}">
    <link rel="stylesheet" href="{% static 'portofolio/css/Nav_Footer.css' %}">
{% endblock %}


{% block main %}
<h1>Aptidões e Competências Linguísticas</h1>

<h2>Linguísticas</h2>

<div class="skill">
    <p class="title">Português</p>
    <p>Língua materna</p>
</div>

<div class="skill">
    <p class="title">Inglês</p>
    <p>Nível: Intermediário</p>
    <p>Vivi na África do Sul de 2014 a 2015</p>
</div>

<div class="skill">
    <p class="title">Francês</p>
    <p>Nível: Básico</p>
    <p>Desejo aprender francês</p>
</div>
{% endblock %}