{% extends 'portofolio/Landing_Page/Hero_Page.html' %}
{% load static %}

{% block titulo %}
    <title>Escolas</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'portofolio/css/sobre_mim/Organizativas.css' %}">
    <link rel="stylesheet" href="{% static 'portofolio/css/Nav_Footer.css' %}">
{% endblock %}


{% block main %}
    <h1>Aptidões e Competências Organizativas</h1>

    <h2>Organizativas</h2>

    <div class="skill">
        <p class="title">Liderança</p>
    </div>

    <div class="skill">
        <p class="title">Coordenação</p>
    </div>
{% endblock %}
