{% extends 'portofolio/Landing_Page/Hero_Page.html' %}
{% load static %}

{% block titulo %}
<title>Técnicas</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'portofolio/css/Tecnicas.css' %}">
    <link rel="stylesheet" href="{% static 'portofolio/css/Nav_Footer.css' %}">
{% endblock %}

{% block main %}

<h1>Aptidões e Competências pessoais</h1>

<h2>Técnicas</h2>

<div class="skill">
    <p class="title">Programação de PLC</p>
    <p class="description">Programar controladores lógicos usados na automação industrial.</p>
</div>

<div class="skill">
    <p class="title">Sistemas SCADA</p>
    <p class="description">Conhecer o design e operação de sistemas para monitorar e controlar processos
        industriais.</p>
</div>

<div class="skill">
    <p class="title">Instrumentação Industrial</p>
    <p class="description">Compreender a aplicação de instrumentos de medição em processos industriais.</p>
</div>

<div class="skill">
    <p class="title">Redes Industriais</p>
    <p class="description">Protocolos de comunicação e configuração de redes de automação industrial.</p>
</div>

<div class="skill">
    <p class="title">Eletricidade e Eletrônica</p>
    <p class="description">Conhecimentos em circuitos elétricos, componentes e solução de problemas.</p>
</div>

<div class="skill">
    <p class="title">Manutenção e Reparo</p>
    <p class="description">Habilidades em identificar problemas, realizar manutenção e reparos em equipamentos
        automatizados.</p>
</div>
{% endblock %}
