/* Estilos para o contêiner principal */
.container {
  margin-top: 20px;
}

/* Estilos para os cards de postagem */
.card {
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Ajuste o valor conforme necessário */
}

.card-img-top {
  border-radius: 5px 5px 0 0;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 15px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio de 16:9 para vídeos */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilos para os botões de ação */
.btn-primary,
.btn-danger {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/* Estilos para o botão de criar novo post */
.btn-success {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}
