{% extends 'portofolio/Landing_Page/Hero_Page.html' %}
{% load static %}

{% block main %}
    <div class="container">
        <h1>Confirmar exclusão</h1>

        <p>Você tem certeza que deseja excluir o projeto "{{ projeto.title }}"?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="{% url 'portofolio:projeto_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
