{% extends 'portofolio/Tarefas/base.html' %}

{% block main %}
<h3>Tarefa</h3>
    <form action="{% url 'portofolio:edita' tarefa_id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <a href="{% url 'portofolio:home' %}" role="button" class="btn btn-warning">Cancelar</a>
        <input type="submit" value="Gravar" class="btn btn-success" >
        <a href="{% url 'portofolio:apaga' tarefa_id %}" role="button" class="btn btn-danger">Apagar</a>
    </form>

{% endblock %}