{% extends 'portofolio/Tarefas/base.html' %}

{% block main %}
    {% for tarefa in tarefas %}
        <p>
            <span class="info">
                ({{ tarefa.criado.day }}/{{ tarefa.criado.month }})
                {% if tarefa.prioridade == 1 %}
                    🟢
                {% elif tarefa.prioridade == 2 %}
                    🟡
                {% else %}
                     🔴
                {% endif %}
            </span>
            {% if tarefa.concluido == True %}
                <del>{{ tarefa.titulo }}</del>
            {% else %}
                {{ tarefa.titulo }}
            {% endif %}


            <a href="{% url 'portofolio:home' tarefa.id %}" class="btn btn-warning  btn-sm" style="float: right; margin-right: 10px">
                Editar
            </a>
        </p>
   {% endfor %}
        <a href="{% url 'portofolio:nova' %}" class="btn btn-success btn-block">+ Nova Tarefa</a>
{% endblock %}