{% extends 'portofolio/Hero_Page.html' %}
{% load static %}

{% block titulo %}
    <title>Escolas</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'portofolio/css/Escolas.css' %}">
    <link rel="stylesheet" href="{% static 'portofolio/css/Nav_Footer.css' %}">
{% endblock %}

{% block main %}
    <h1>Informações de Educação</h1>

    <h2>Escolas</h2>

    <div class="school">
        <img class="logo" src="{% static 'portofolio/imagem/CEEK.jpg' %}" alt="Logo C. Escolar Emanuel Kutolola">
        <p class="year">2016-2017</p>
        <p class="degree">Ciências Físicas e Biológicas</p>
        <p class="institution">C. Escolar Emanuel Kutolola</p>
        <img class="certificate" src="certificado_escola.png" alt="Certificado de Conclusão da Escola">
    </div>

    <div class="school">
        <img class="logo" src="{% static 'portofolio/imagem/logo-masterd.png' %}" alt="Logo Master.D" width="400"
             height="100">
        <p class="year">2018-2019</p>
        <p class="degree">Programação de Automação Industrial</p>
        <p class="institution">Master.D</p>
        <img class="certificate" src="certificado_masterd.png" alt="Certificado de Conclusão do Curso da Master.D">
    </div>

    <div class="school">
        <img class="logo" src="{% static 'portofolio/imagem/lusofona-png.png' %}"
             alt="Logo Universidade Lusófona de Humanidades e Tecnologias" width="400" height="100">
        <p class="year">2018-Now</p>
        <p class="degree">Engenharia Informática</p>
        <p class="institution">Universidade Lusófona de Humanidades e Tecnologias</p>
        <img class="certificate" src="certificado_lusofona.png" alt="Certificado de Conclusão da Universidade Lusófona (Por concluir)">
    </div>


{% endblock %}
