<!-- layout.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'portofolio/css/layout.css' %}">
</head>
<body>
<header>
    <div>
        Wisley Costa
    </div>

    <nav>
        <a href="{% url 'portofolio:home' %}"</a>
        <a href="">products</a>
        <a href="">about</a>
        <a href="">contact</a>
    </nav>
</header>

<main>
    {% block main %}
    {% endblock main %}
</main>
<footer>
    <div>ULusofona, 2023</div>
</footer>
</body>
</html>