{% extends 'portofolio/Hero_Page.html' %}
{% load static %}

{% block titulo %}
    <title>Projetos Ucs</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'portofolio/css/Projetos.css' %}">
    <link rel="stylesheet" href="{% static 'portofolio/css/Nav_Footer.css' %}">
{% endblock link %}


{% block main %}

    <h1>Meus Projetos</h1>

    <div class="technology">
        <img class="logo" src="{% static 'portofolio/imagem/car arduino.png' %}" alt="4WD Robot Car  (1 MO)">
        <h2 class="title">Arquitetura Avançada de Computadores "4WD Robot Car"</h2>
        <p class="description">Neste projeto tivemos como objetivo de “assemblar” um carro robô que tem a capacidade de
            se mover de forma
            autónoma, desviando-se de possíveis obstáculos. Além disso, possui um sistema que permite ser controlado
            através de um controlo remoto e capaz de seguir indicações feitas por linhas continuas (marcador ou
            caneta).</p>
        <p>Data: 01/01/2023</p>
        <p>Notas: 10/20</p>
        <a class="website-link" href="#">Veja mais detalhes</a>
    </div>

    <div class="technology">
        <img class="logo" src="{% static 'portofolio/imagem/MaquinaLavar.png' %}" alt="Projeto 2">
        <h2 class="title">Arquitetura de Computadores</h2>
        <p class="description">Funcionamento de uma máquina de lavar</p>
        <p>Data: 01/06/2021</p>
        <p>Notas: 8.0/10</p>
        <a class="website-link" href="#">Veja mais detalhes</a>
    </div>

{% endblock %}
