{% extends 'portofolio/Hero_Page.html' %}
{% load static %}

{% block titulo %}
 <title>Aptidões e Competências Sociais</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'portofolio/css/Sociais.css' %}">
    <link rel="stylesheet" href="{% static 'portofolio/css/Nav_Footer.css' %}">
{% endblock %}

{% block main %}

<h1>Aptidões e Competências Sociais</h1>

<h2>Sociais</h2>

<div class="skill">
    <p class="title">Comunicação</p>
</div>

<div class="skill">
    <p class="title">Gestão de Equipa</p>
</div>
{% endblock %}
