{% extends 'portofolio/Landing_Page/Hero_Page.html' %}

{% block main %}
    <h1>{{ blog.nome }}</h1>

    <div class="row">
        <div class="col-6">
            <h2>Áreas</h2>
            <ul>
                {% for area in areas %}
                    <li>{{ area.name }}</li>
                {% endfor %}
            </ul>

            <h2>Autores</h2>
            <ul>
                {% for autor in autores %}
                    <li>{{ autor.name }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-6">
            <h2>Artigos</h2>
            {% for artigo in artigos %}
                <div class="artigo">
                    <h3>{{ artigo.title }}</h3>
                    <p>{{ artigo.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}