{% extends 'portofolio/Landing_Page/Hero_Page.html' %}
{% load static %}


{% block main %}
    <link rel="stylesheet" href="{% static 'portofolio/css/autenticacao/autenticacao.css' %}">
    <div class="container">
        <h1 class="mt-3 mb-4">Lista de Posts</h1>

        <div class="row">
            {% for post in posts %}
                <div class="col-12 col-md-6 mb-4">
                    <div class="card">
                        {% if post.photo %}
                            <img src="{{ post.photo.url }}" alt="Imagem do post" class="card-img-top">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content }}</p>

                            {% if post.video %}
                                <div class="video-container mb-3">
                                    <video controls>
                                        <source src="{{ post.video.url }}" type="{{ post.video.content_type }}">
                                        Seu navegador não suporta a reprodução de vídeos HTML5.
                                    </video>
                                </div>
                                <p class="card-text">Descrição do vídeo: {{ post.video_description }}</p>
                            {% endif %}

                            <p class="card-text">Data de publicação: {{ post.published_at }}</p>
                            <p class="card-text">Autor: {{ post.author.username }}</p>

                            {% if user.is_authenticated %}
                                <div class="d-flex justify-content-end">
                                    <a href="{% url 'portofolio:post_update' post.pk %}" class="btn btn-primary me-2">Editar</a>
                                    <a href="{% url 'portofolio:post_delete' post.pk %}"
                                       class="btn btn-danger">Excluir</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Nenhum post encontrado.</p>
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
            <a href="{% url 'portofolio:post_create' %}" class="btn btn-success mt-3">Criar novo post</a>
        {% endif %}
    </div>
{% endblock %}
