{% extends 'portofolio/Landing_Page/Hero_Page.html' %}
{% load static %}

{% block titulo %}
    <title>Laboratórios</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'portofolio/css/Labs.css' %}">
    <link rel="stylesheet" href="{% static 'portofolio/css/Nav_Footer.css' %}">
{% endblock link %}

{% block main %}
    <h1>Laboratórios</h1>

    <div class="laboratory">
        <p class="laboratory-title">Lab 1 - Meu primeiro website online</p>
        <a class="laboratory-link" href="http://wisley23.pythonanywhere.com/">Acessar</a>
    </div>

    <div class="laboratory">
        <p class="laboratory-title">Lab 2 - Website com quizz e CSS</p>
        <a class="laboratory-link" href="http://wisley99.pythonanywhere.com/">Acessar</a>
    </div>

    <div class="laboratory">
        <p class="laboratory-title">Lab 3 - Layouts baseados em flex e grid</p>
        <a class="laboratory-link" href="http://wisley901.pythonanywhere.com/">Acessar</a>
    </div>

    <div class="laboratory">
        <p class="laboratory-title">Lab 4 - Web design responsivo</p>
        <a class="laboratory-link" href="http://wisley902.pythonanywhere.com/">Acessar</a>
    </div>

    <div class="laboratory">
        <p class="laboratory-title">Lab 5 - Portfólio</p>
        <a class="laboratory-link" href="">Acessar</a>
    </div>

    <div class="laboratory">
        <p class="laboratory-title">Lab 6 - Python: Strings, leitura e escrita</p>
        <a class="laboratory-file" href="{% static 'arquivos/pw-lab6-Python-checkpoint.ipynb' %}" download>Download do arquivo</a>
    </div>

    <div class="laboratory">
        <p class="laboratory-title">Lab 7 - Python: Ciclos, listas</p>
        <a class="laboratory-file" href="{% static 'arquivos/pw-lab7-Python.ipynb' %}" download>Download do arquivo</a>
    </div>

    <div class="laboratory">
        <p class="laboratory-title">Lab 8 - Python: Sets, dicionários, classes</p>
        <a class="laboratory-file" href="{% static 'arquivos/pw-lab8-Python.ipynb' %}" download>Download do arquivo</a>
    </div>

    <div class="laboratory">
        <p class="laboratory-title">Labs 9, 10, 11 e 12 - Portfólio Final</p>
        <a class="laboratory-link" href="http://wisleyDjango9e10.pythonanywhere.com/">Acessar</a>
    </div>
{% endblock %}
