{% load static %}

{% block main %}
    <h1>{{ cidade.nome }}</h1>

    <div class="cidade">
        <div class="col-6">
            <h2>Nome</h2>
            <ul>
                {% for cidade_nome in cidade_nome %}
                    <li>{{ cidade_nome.name }}</li>
                {% endfor %}
            </ul>

            <h2>Pais</h2>
            <ul>
                {% for pais in pais %}
                    <li>{{ pais.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}